<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>DEFY CONVENTION</string>
	<key>2</key>
	<string>BUCK TRENDS</string>
	<key>3</key>
	<string>RAGE AGAINST THE MACHINE</string>
	<key>4</key>
	<string>CELEBRATE WHAT&apos;S GOOD </string>
	<key>5</key>
	<string>REPOSSESS YOUR HEALTH</string>
	<key>6</key>
	<string>REDEFINE YOUR ROLE </string>
	<key>7</key>
	<string>PRACTISE MEDICINE WITHOUT A LICENSE</string>
	<key>8</key>
	<string>MINIMIZE SYMPTOM SUPPRESSION</string>
	<key>9</key>
	<string>SAFEGUARD YOUR JUJU</string>
	<key>10</key>
	<string>SEE THE BIGGER PICTURE</string>
	<key>11</key>
	<string>BE PART OF THE SOLUTION</string>
	<key>12</key>
	<string>GO AT YOUR OWN PACE</string>
	<key>13</key>
	<string>BE PROACTIVE</string>
	<key>14</key>
	<string>LEVERAGE YOUR BIG &quot;WHYS&quot;</string>
	<key>15</key>
	<string>RAISE YOUR SIGHTS</string>
	<key>16</key>
	<string>LEARN THE SKILLS</string>
	<key>17</key>
	<string>REAP THE REWARDS</string>
	<key>18</key>
	<string>FOCUS ON THE FUNDAMENTALS</string>
	<key>19</key>
	<string>FAKE IT TILL YOU MAKE IT</string>
	<key>20</key>
	<string>AIM FOR 85%</string>
	<key>21</key>
	<string>KEEP YOUR BODY CLEAN, INSIDE AND OUT</string>
	<key>22</key>
	<string>BRUSH AND FLOSS</string>
	<key>23</key>
	<string>EAT FRESH</string>
	<key>24</key>
	<string>EAT MORE PLANTS</string>
	<key>25</key>
	<string>DON&apos;T FALL FOR FAKERY</string>
	<key>26</key>
	<string>LEARN TO COOK</string>
	<key>27</key>
	<string>HAVE BREAKFAST</string>
	<key>28</key>
	<string>WATCH YOUR REACTIONS</string>
	<key>29</key>
	<string>BEWARE THE USDA FOOD GUIDELINES</string>
	<key>30</key>
	<string>APPROACH ADA GUIDELINES WITH A HEALTHY DOSE OF DOUBT</string>
	<key>31</key>
	<string>GO EASY ON THE SUGAR AND FLOUR</string>
	<key>32</key>
	<string>SAVOR WHAT YOU EAT</string>
	<key>33</key>
	<string>CARE WHERE FOOD COMES FROM</string>
	<key>34</key>
	<string>GO FOR QUALITY NOT QUANTITY</string>
	<key>35</key>
	<string>MOVE IT OUT</string>
	<key>36</key>
	<string>READ LABELS</string>
	<key>37</key>
	<string>IGNORE LABELS</string>
	<key>38</key>
	<string>SAY NO TO SODA</string>
	<key>39</key>
	<string>ASK FOR WHAT YOU WANT</string>
	<key>40</key>
	<string>DRINK A LOT OF H2O</string>
	<key>41</key>
	<string>FILTER YOUR WATER</string>
	<key>42</key>
	<string>LOVE WHAT YOU&apos;VE GOT</string>
	<key>43</key>
	<string>REDEFINE YOUR GOALS</string>
	<key>44</key>
	<string>BEWARE ARTIFICIAL HUNGERS</string>
	<key>45</key>
	<string>IDENTIFY REAL HUNGERS</string>
	<key>46</key>
	<string>BE HUMAN</string>
	<key>47</key>
	<string>MAKE BEING HEALTHY EASIER</string>
	<key>48</key>
	<string>DON&apos;T BELIEVE THE HYPE</string>
	<key>49</key>
	<string>LOOK BEYOND UNREALISTIC ROLE MODELS</string>
	<key>50</key>
	<string>QUESTION AUTHORITY</string>
	<key>51</key>
	<string>FACE THE FACTS</string>
	<key>52</key>
	<string>MAINTAIN A MORNING PRACTICE</string>
	<key>53</key>
	<string>MOVE YOUR BODY</string>
	<key>54</key>
	<string>REFRAME EXERCISE AS A PRIVILEGE</string>
	<key>55</key>
	<string>BREAK A SWEAT</string>
	<key>56</key>
	<string>STAY STRONG</string>
	<key>57</key>
	<string>MAXIMIZE YOUR MITOCHONDRIA</string>
	<key>58</key>
	<string>FIND YOUR FITNESS EDGE</string>
	<key>59</key>
	<string>GET PAST BODY ENVY</string>
	<key>60</key>
	<string>EMBRACE MEDITATION</string>
	<key>61</key>
	<string>STUDY YOUR SYSTEMS</string>
	<key>62</key>
	<string>SLEUTH OUT YOUR SYMPTOMS</string>
	<key>63</key>
	<string>SELF-MEDICATE WITH CAUTION</string>
	<key>64</key>
	<string>ABANDON VICTIM THINKING</string>
	<key>65</key>
	<string>SLEEP WELL</string>
	<key>66</key>
	<string>BREATH DEEP</string>
	<key>67</key>
	<string>GET OFF YOUR BUTT</string>
	<key>68</key>
	<string>SLOW DOWN</string>
	<key>69</key>
	<string>CONNECT WITH COMMUNITY</string>
	<key>70</key>
	<string>HEAL YOUR RELATIONSHIPS</string>
	<key>71</key>
	<string>GET OUTSIDE</string>
	<key>72</key>
	<string>RESPECT YOUR ENVIRONMENT</string>
	<key>73</key>
	<string>EMBRACE PLAY</string>
	<key>74</key>
	<string>CONSUME MEDIA WISELY</string>
	<key>75</key>
	<string>BE YOUR OWN BIGGEST FAN</string>
	<key>76</key>
	<string>TURN OF THE TV</string>
	<key>77</key>
	<string>ELIMINATE ANNOYANCES</string>
	<key>78</key>
	<string>FOLLOW THE MONEY</string>
	<key>79</key>
	<string>REDIRECT YOUR RESOURCES</string>
	<key>80</key>
	<string>DITCH DEBT</string>
	<key>81</key>
	<string>INVEST IN YOUR HEALTH</string>
	<key>82</key>
	<string>WISE UP</string>
	<key>83</key>
	<string>BUILD ON YOUR SUCCESSES</string>
	<key>84</key>
	<string>SURPRISE YOURSELF</string>
	<key>85</key>
	<string>FIND YOUR TRIBE</string>
	<key>86</key>
	<string>LAUGH IT UP</string>
	<key>87</key>
	<string>GET A BUDDY</string>
	<key>88</key>
	<string>GIVE YOUR BEST GIFTS</string>
	<key>89</key>
	<string>PACE YOURSELF</string>
	<key>90</key>
	<string>VOTE YOUR VALUES</string>
	<key>91</key>
	<string>VISUALIZE THE POSSIBILITIES</string>
	<key>92</key>
	<string>FOLLOW YOUR BLISS</string>
	<key>93</key>
	<string>BE RESPONSIBLE FOR YOURSELF</string>
	<key>94</key>
	<string>TAKE THE HIGH ROAD</string>
	<key>95</key>
	<string>MAKE TIME</string>
	<key>96</key>
	<string>MAKE SPACE</string>
	<key>97</key>
	<string>FOCUS ON ACTION, NOT OUTCOMES</string>
	<key>98</key>
	<string>MAKE IT A PARTY</string>
	<key>99</key>
	<string>LET GO OF EXCUSES</string>
	<key>100</key>
	<string>SHOW UP</string>
	<key>101</key>
	<string>PASS IT ON</string>
</dict>
</plist>
